<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.elegam.school"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".Classes.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="DATABASE"
            android:value="school.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="ir.elegam.school" />

        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NewsActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FavoriteActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ContextActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AboutusActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SchedualActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WeekActivity"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.MoneyActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ImageCategoryActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ImagesDetailActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ArticleActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GradesActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GradeListActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CriticSuggestionActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AttendanceActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ContactSchool"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GuideActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PunishEncourageActivity"
            android:label=""
            android:screenOrientation="portrait" />
    </application>

</manifest>